<h1> My Teams </h1>
<% @myteams.each do |t|  %>
	<p> <%= t.team_name %> at <%= t.scavenger %> </p>
<% end %>

<h1> My hunts </h1>
<%@myhunts.each do |h| %>
	<p><%= h.hunt_name %></p>
<% end %>

<h1> My Photos </h1>
<p> placeholder </p>